DB_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.jcuzocrgyomnuagvnwra
DB_PASSWORD=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=http://localhost:5173
SERVER_PORT=8081
